@model IEnumerable<CustomerPortalMVC.Models.StockDetail>

@{
    ViewData["Title"] = "ViewStockDetails";
}

<h2 class="text-success">Stock Details</h2>

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StockName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.ActionLink("Sell", "SellStock", "Customer", new { id = item.TStockId })

                </td>
            </tr>
            }
        </tbody>
    </table>

<section id="portfolio" class="services">
    <div class="container">

        <div class="section-title">
            <span>Portfolio</span>
            <h2>Portfolio</h2>
            <p><b>Welcome To Your Profile</b></p>
        </div>
        
        <div class="row"  style="padding-left:25%">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150" >
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a asp-controller="Customer" asp-action="ViewMutualFundDetails">Your Mutual Funds</a></h4>
                        <p>This will show the Mutual Funds owned by you.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a asp-controller="Customer" asp-action="ViewNetWorth">Net Worth of Your Investment</a></h4>
                        <p>This will Calculate the Net Worth of Investments owned by you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
